@model ProductCategoryListViewModel

@{
    ViewData["Title"] = "List";
}

<h1>@ViewData["Title"]</h1>

<div class="container-xxl text-center">
    <div class="row">
        @foreach(var item in Model.Categories)
        {
            <partial name="_OverviewCategories" for="@item"/>
        }
    </div>
    <div class="row">
        @foreach(var category in Model.Categories)
        {
           <div class="col p-2 mx-3 border-secondary border-1 border-start border-top border-bottom border-end border-sucess">
                @foreach (var product in Model.Products.Where(p => p.Category.CategoryName == category.CategoryName))
                {
                    <div class="row p-2 flex-column my-2">
                        <h6 class="fs-6 fw-bold">@product.ProductName</h6>
                        <p>@product.ProductPrice.ToString("C")</p>
                    </div>
                }
            </div>
        }
    </div>
</div>
@* <div class="container-xxl text-center">
    <div class="row">
        @foreach (var category in categories)
        {
            <div class="col p-3 bg-secondary mx-3 fs-5 text-white">
                @category.CategoryName
            </div>
        }
    </div>
    <div class="row flex-nowrap mt-4">
        @foreach (var category in categories)
        {
            <div class="p-2 mx-3 col border-secondary border-1 border-start border-end border-success">
                @foreach (var product in Model.Products.Where(product => product.Category.CategoryName == category.CategoryName))
                {
                    <div class="row p-2 flex-column my-2">
                        <h6 class="fs-6 fw-bold">@product.ProductName</h6>
                        <p>@product.ProductPrice.ToString("C")</p>
                    </div>
                }
            </div>
        }
    </div> *@